@font-face {
    font-family: 'Recoleta DEMO';
    src: url('Recoleta-RegularDEMO.woff2') format('woff2'),
        url('Recoleta-RegularDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

